/*Table of Contents*/

/*	1		Body	*/
/*	2		Texts 	*/
/*	3		Header Area	*/
/*	4		Containing Structure	*/


/*----	1		Body Style */
body, html{
	width: 100%;
	height: 100%;
	min-height: 100%;
	top: 0;
	margin: 0 !important;
	padding: 0;
	background:#f6f6f6;
}

body{
	font-size: 14px;
	line-height: 1.5em;
	color: #333;
}

/*----	2		Text Style */

/*Headers*/

h1{
	font-family: "Montserrat", sans-serif;
	font-weight: bold;
	font-size: 42px;
	line-height: 1.1em;
}

.header-container h1{
	color: #fff;
}

h2{
	font-family: "PT Sans", sans-serif;
	font-weight: 700;
	font-size: 30px;
	line-height: 1.5em;
	text-transform: uppercase;
	margin-bottom: 1.5em;
}

h3{

}

/*Paragraphs*/

p{
	font-family: "PT Sans",sans-serif;
	font-size: 18px;
	line-height: 1.428em;
}

.lg-paragraph{
	font-size: 18px;
}

.header-container p{
	color:#fff;
}

p.motto{

	font-size: 32px;
	color: #f6f6f6;
	padding: 0 15%;
}

p.display-grid-sm-detail{
	margin-top: 0;
	width: 420px;
	font-size: 16px;
	line-height: 1.5em;
	font-weight: 650;
}
#resume p,#resume h1{
	color: #fff;
}
/*Links*/

a, a:visited{
	text-decoration: none;
	font-size: 18px;
}

a:hover{

}

.learn-more-button{
	padding: 1em 2em;
	font-size: 16px;
	background: #FF5340;
	border:none;
	box-shadow: 0 1px 0 0 rgba(9,9,9,.8);
	border-radius: 4px;
}

/* Colors */
.color-red{
	color: #25bfff;
}

.left-text{
	text-align: left;
}

.center-text{
	text-align: center;
}

.right-text{
	text-align: right;
}

/*----	3		Header Area Style */


.header-container{
	width: 100%;
	height: 100vh;
	background: url(../images/IMG_3559.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	overflow: hidden;
}

.header-overlay{
	width: 100%;
	height: 100%;
	background:rgba(0,0,0,.3);
}

.header-featured{
	position: absolute;
	left: 0;
	bottom: 0;
	height: 90%;
	width: 300px;
	background:rgba(0,0,0,.3);
	overflow: auto;
}

.header-featured-area{
	position: absolute;
	left: 0;
	right: 0;
	bottom: 0;
	top: -50px;
	max-width: 60%;
	max-height: 45%;
	z-index: 10;
	margin: auto;
	text-align: center;	
}

.header-blurb img{
	width: 200px;
	border-radius: 50%;
	box-shadow: 0 0 0 5px rgba(200,200,200,.9);
}

/* Header Navigation */

header{
	width: 100%;
	height: 100px;
	position: fixed;
	display: block;
	top: 0;
	left: 0;
	z-index: 200;
	background:rgba(30,30,30,1);
}

.header-shrink{
	height: 70px;
	background:rgba(30,30,30,1);
	box-shadow: 0 1px 1px 0px rgba(0,0,0,.3);
}

.brand{
	float: left;
	display: block;
}

.brand>h1{
	margin: 0 0 0 20px;
	padding: 0;
	font-size: 42px;
	color: #f6f6f6;
	line-height: 70px;
	padding-top: 15px;
	padding-bottom: 15px;
}

ul.nav-bar{
	list-style: none;
	display: block;
	float: right !important;
	padding-left: 0;
	margin:0;
}

.nav-bar>li{
	float:left;
	position: relative;
	display: block;
	text-align: -webkit-match-parent;
}

.nav-bar>li>a{
	color: #f6f6f6;
	font-weight: bold;
	font-family: sans-serif;
	font-size: 1em;
	margin: 0 0 0 20px;
	text-transform: uppercase;
	line-height: 70px;
	position: relative;
	display: block;
	padding: 10px 15px;
}

.header-shrink ul>li>a{
	padding: 0 15px;
	/*color: #25bfff;*/
	color: #FF5340;
}
 .header-shrink .brand>h1{
 	padding: 0;	
 	/*color: #25bfff;*/
 	color: #FF5340;
 }
/*----	4		Containing Structure Style	*/

/* Overall Structure */
.body-container{
	width: 100%;
	position: relative;
	overflow: hidden;
	padding: 0;
	margin: 0;
}

.container{
	width: 1170px;
	margin: 0 auto;
	padding-left: 15px;
	padding-right: 15px;
}

.content{
	padding: 4em 0;
}

.column-2{
	position: relative;
	float: left;
	width: 47.5%;
	margin-right: 2.5%;
}

.overlay{
	position: absolute;
	z-index: 1;
	width: 100%;
	height: 100%;
	background:rgba(0,0,0,.3);
}

.article-img{
	margin: 0 auto;
}

.article-columns{
	min-height: 800px;
	column-count:2;
	-webkit-column-count:2;
	column-gap:50px;
	-webkit-column-gap:50px;
}
.article-columns img{
	max-width: 100%;
}

p.caption{
	font-size: 16px;
	font-style: italic;
	padding: 0;
	margin: 5px 0; 
}
/* Individual Structure*/

#header{
	background: url(../images/overlay.png) repeat, #FF5340;
}

#about{
	background: #e7e7e7;
	
}

#resume{
	background: #FF5340}

#projects{
	
}

#portfolio{
	position: relative;
	text-align: center;
	margin: 0 auto;
}

#contact{
	background: #eee;
}

/* Portfolio */
.portfolio-item{
	position: absolute;
}
.portfolio-item>figure{
	position: relative;
	width: 300px;
	height: 243px;
	background:rgba(0,0,0,.2);
	border-radius: 4px;
	overflow: hidden;
	text-align: center;
}
figure>img{
	position: relative;
	float: left;
	z-index: 3;
	width: 110%;
	min-width:110%;
	min-height: 110%;
	top: 0;
	left: -5%;
}

a.info{
	color: #FF5340;
	font-size: 25px;
	font-family: sans-serif;
	height: 1.5em;
	line-height: 1.5em;
	text-align: center;
}
div.info{
	position: absolute;
	width: 100%;
	z-index: 95;
	top: 120%;
	left: 0;
	text-align: center;
}
.info-backdrop{
	position: absolute;
	line-height: 0;
	float: left;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(51,51,51,.9);
	z-index: 90;
	top: 150%;
}

/* Small 4x4 Grid Display */

ul.display-grid-sm-3{
	list-style: none;
	display: block;
	width: 330px;
	position: relative;
	text-align: left;
	padding-left: 0;
	margin: 0 auto;
}

.display-grid-sm-3>li{
	position: relative;
	float: left;
	display: block;
	width: 100px;
	height: 100px;
	margin: 0px 10px 10px 0px;
	text-align: center;
}

/* Grid Pieces */

.grid-2-lg{
	position: relative;
	float: left;
	width: 50%;
}
.grid-2-lg:last-child:after{
	clear: both;
	display: table;
	content: " ";
}

.grid-3-lg{
	position: relative;
	float: left;
	width: 33.33%;
}
.grid-3-lg:last-child:after{
	clear: both;
	display: table;
	content: " ";
}

.grid-piece{
	cursor: pointer;
	width: 100%;
	height: 100%;
	overflow: hidden;
	position: relative;
}
.piece-back{
	width: 100%;
	height: 100%;
	position: relative;
	z-index: 3;

    -webkit-filter: grayscale(.7); /* Google Chrome, Safari 6+ & Opera 15+ */
    filter: grayscale(70%); /* Current draft standard */
    -webkit-filter: grayscale(70%); /* New WebKit */
    -moz-filter: grayscale(70%);
    -ms-filter: grayscale(70%); 
}
.piece-back>img{
	width: 100%;
	height: 100%;
}
.piece-front{
	width: 100%;
	height: 100%;
	position: absolute;
	/*background: rgba(0,0,0,.3);*/
	z-index: 99;
	top: -100%;
}

.piece-front>div{
	font-family: sans-serif;
	font-size: 16px;
	text-align: center;
	font-weight: bold;
	text-transform: lowercase;
	line-height: 20px;
	width: 100%;
	margin: 50px 0;
	background:rgba(255,255,255,.7);
}

.img-scale{
	-webkit-transform: scale(1.25);
	transform: scale(1.25);
}

/*---- 	Images */

.grayscaled{
	filter: url(filters.svg#grayscale); /* Firefox 3.5+ */
    filter: gray; /* IE6-9 */
    -webkit-filter: grayscale(1); /* Google Chrome, Safari 6+ & Opera 15+ */
    filter: grayscale(100%); /* Current draft standard */
    -webkit-filter: grayscale(100%); /* New WebKit */
    -moz-filter: grayscale(100%);
    -ms-filter: grayscale(100%); 
}
.grayscaled:hover{
	filter: none;
    -webkit-filter: grayscale(0);
	filter: grayscale(0%); /* Current draft standard */
    -webkit-filter: grayscale(0%); /* New WebKit */
    -moz-filter: grayscale(0%);
    -ms-filter: grayscale(0%); 
}
.nograyscale{
	filter: none;
    -webkit-filter: grayscale(0);
	filter: grayscale(0%); /* Current draft standard */
    -webkit-filter: grayscale(0%); /* New WebKit */
    -moz-filter: grayscale(0%);
    -ms-filter: grayscale(0%);
}
/*---- 	Fixes */

.clear-fix:after{
	clear: both;
	display: table;
	content: " ";
}

.header-fix{
	position: absolute;
	top: 0;
	z-index: 99;
}

.push-left{
	position: relative;
	float: left;
}

.push-right{
	position: relative;
	float: right;
}

.push-center{
	position: relative;
	margin: 0 auto;
}

.top-fix{
	top: 0;
}

.top-fix-50{
	top: 45% !important;
}

.portfolio-img-fix{
	top: -30px !important;
}

.pad-15{
	padding: 0 15px;
}

.pad-top{
	padding: 1em 0;
}

/*---- Buttons */

.down-button{
	margin:50px 0; display:box
}

.down-button>a{
	display: inline-block;
	padding:8px 25px; 
	border-radius:3px;
	background: rgba(30,30,30,1); 
	font-size:24px; 
	color:rgba(250,250,250,1);
}

.down-button>a:hover{
	background: rgba(30,30,30,.8); 
	font-size: 30px;
}

 .download-resume{
 	padding: 1em 2em;
 	display: inline-block;
 	width: 25%;
 	margin: 1em 2em;
 	background: rgba(30,30,30,1);
 	text-transform: uppercase;
 	font-family: sans-serif;
 	font-size: 24px;
 	color:rgba(250,250,250,1);
 	font-weight: bold;
 	border-radius: 4px;
 	box-shadow: 0 3px 0 0 rgba(0,0,0,.4);
 }

.download-resume:hover{
	background: rgba(30,30,30,.7);
}

/*---- Animations */
header, img, .brand>h1, .nav-bar>li>a, .piece-back, .piece-front, .grayscaled, .download-resume, .down-button>a{
	-webkit-transition:all 0.3s;
	transition:all 0.3s;
}
.info-backdrop, .info{
	-webkit-transition:all 0.4s;
	transition:all 0.4s;
}

/*---- Media Queries */

@media all and  (min-width: 768px){
	.container{
		width: 750px;
	}
	.nav-bar>li>a{
		padding-top: 15px;
		padding-bottom: 15px;
	}
}

@media all and (min-width: 992px){
	.container{
		width: 970px;
	}
}

@media all and (min-width: 1200px){
	.container{
		width: 1170px;
	}
}